{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Settings</title>
    <link href="{%static 'css/style.css' %}" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="grad-background">
    <div class="container-fluid">
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >

          <img
            src="{% static 'images/main_logo.png'%}"
            alt="symbol"
            style="max-width: 10%; margin-right: 10px"
          />
          <span class="fs-4">Portfolio - Ganeshdarshan Bhat</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/home" class="nav-link grad-button" aria-current="page"
              >Home</a
            >
          </li>
          <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
          <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          <li class="nav-item"><a href="/settings" class="nav-link active">Settings</a></li>
        </ul>
      </header>
    </div>
  </body>
</html>