@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#skills{
    padding: 60px;
}

.skills-header h1{
  margin-left: -40px;
  font-family : "Space Mono",monospace ; 
}

.skill-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    max-width : 100vw;
    margin: 0 auto;
  }

  .skill {
    background-color: white;
    margin : 10px ;
    padding :10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
  }
  
  .dark .skill {
    /* display: flex; */
    background-color: rgb(37, 35, 35);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.15);
  }

  .skill-icon-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .skill-icon{
    height: 50px;
    width: 50px;
  }
  
  .skill-name {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .skill-bar-outer {
    display: flex;
    
    margin: 15px auto;
    width: 100%;
    background: #efefef;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .skill-bar-inner {
    background: #88D66C;
    height: 100%;
    transition: width 1.5s ease-in-out;
  }

  .cp-profile-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cp-card-1{
    margin: 20px;
    padding: 15px;
  }

  /* @media (max-width:935px) {
    .cp-profile-cards{
      flex-direction: column;
    }
  } */

  @media (max-width:768px) {
    /* .skill-name{
        display: flex;
        flex-wrap: wrap;

    }
    .skill-icon{
        min-height: 30px;
        min-width: 30px;
    } */
     .cp-profile-cards{
        flex-direction: column;
     }
  }
  