.grad-background {
   zoom: 1.1;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  transition: color 0.3s ease;
  padding: 10px 20px;
  margin: 0 10px;
}

.nav-link.active {
  background-color: #007bff;
  color: #fff;
}

.nav-link:hover {
  color: #9c27b0;
}

.nav-link {
  border-radius: 5px;
}

